<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">
  <header data-bs-theme="dark">
    <div class="text-bg-dark collapse" id="navbarHeader" style="">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4>About</h4>
            <p class="text-body-secondary mt-2">
              나만의 인생 영화를 사람들과 공유하고, <br />다양한 생각과 영화에 대한 깊이 있는 대화를 나눌 수 있는 공간입니다.
            </p>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <h4>Contact</h4>
            <ul class="list-unstyled mt-2">
              <li><a th:href="@{/movie/register}" href=/"movie/register" class="text-white">영화 등록하기</a></li>
              <li><a th:href="@{/movie/list}" href=/"movie/list" class="text-white">영화 리스트</a></li>
              <li><a th:href="@{/movie/list}" href=/"movie/list" class="text-white">로그인</a></li>
              <li><a th:href="@{/movie/list}" href=/"movie/list" class="text-white">회원가입</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <img th:src="@{/image/logo.png}" src="../../static/image/logo.png" alt="" class="logo">
          <strong>MOVIE</strong>
        </a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>
</th:block>
</html>