<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layoutBasic}">

<th:block layout:fragment="content">
  <main>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light title mb-2">Movie</h1>
          <p class="lead text-body-secondary">
            나만의 인생영화를 등록하고 사람들과 영화에 대한 솔직한 리뷰를 공유하세요.
          </p>
          <p>
            <a href="/movie/register" class="btn btn-primary my-2">영화 등록하기</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p>
        </div>
      </div>
    </section>
    <div class="album py-5 bg-body-tertiary">
      <div class="container">
        <h4 class="h4 border-bottom pb-3 mb-4">영화 리스트</h4>
        <form action="/movie/list" method="get" id="searchForm">
          <input type="hidden" name="page" value="1">
        </form>
        <div class="card-list row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" th:object="${result}">
          <div class="col" th:each="dto : ${result.dtoList}">
              <a th:href="@{/movie/read/(mno=${dto.mno}, page=${result.page})}" class="card shadow-sm">
                <p class="bd-placeholder-img card-img-top">
                  <img th:if="${dto.imageDTOList.size() > 0 && dto.imageDTOList[0].path != null}"
                  th:src="|/display?fileName=${dto.imageDTOList[0].getImageURL()}|">
                </p>
                <div class="card-body">
                  <p th:text="${dto.title}" class="card-text">
                    타이틀
                  </p>
                  <p class="date mt-2" th:text="${#temporals.format(dto.regDate,'yyyy/MM/dd')}"></p>
                  <div class="d-flex justify-content-between align-items-center mt-4">
                    <div class="btn-group">
                      점수 [[${dto.avg}]]
                    </div>
                    <small class="text-body-secondary">
                      리뷰수 [[${dto.reviewCnt}]]
                    </small>
                  </div>
                </div>
                <!--card-body-->
            </a>
          </div>
          <!--end : card-->
        </div>
        <!--end : card-list-->

        <!-- pagination -->
        <ul class="pagination justify-content-center align-items-center mt-5" >
          <li class="page-item" th:if="${result.prev}">
            <a class="page-link" th:href="@{/movie/list(page = ${result.start - 1})}" tabindex="-1">previous</a>
          </li>
          <li th:class="'page-item '+${result.page == page ? 'active':''}"  th:each="page : ${result.pageList}">
            <a class="page-link" th:href="@{/movie/list(page = ${page})}" th:text="${page}">1</a>
          </li>
          <li class="page-item" th:if="${result.next}">
            <a class="page-link" th:href="@{/movie/list(page = ${result.end + 1})}" tabindex="-1">next</a>
          </li>
        </ul>
        <!-- end : pagination -->

      </div>
      <!-- end : container -->
    </div>
    <!-- end : album -->
  </main>

  <!--start : modal -->

  <div id="modal-list" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            <span th:if="${msg}" th:text="등록 완료"></span>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end : modal -->
  <script th:inline="javascript">
      const msg = [[${msg}]];
      console.log(msg);
      if(msg){
          $('#modal-list').modal('show');
      }
  </script>

</th:block>

</html>