<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layoutBasic}">

<th:block layout:fragment="content">
  <link rel="stylesheet" th:href="@{/css/starrr.css}" src="../../static/css/starrr.css">
  <link rel="stylesheet" th:href="@{http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css}">


  <script type="text/javascript" th:src="@{/js/starrr.js}" src="../../static/js/starrr.js"></script>
  <div class="movie_image_wrap">
    <ul class="movie_slider">
      <li th:each="movieImage : ${dto.imageDTOList}">
        <img th:if="${movieImage.path != null}" th:src="|/display?fileName=${movieImage.getImageURL()}|" alt="">
      </li>
    </ul>
  </div>
  <div class="line-move"></div>
  <div class="container movie_info">
    <div class="my-5">
      <h4 class="h4 border-bottom pb-3" th:text="${dto.title}">영화 제목</h4>
      <div class="form-group mt-3 movie_info_con">
        <p>평점 : <span th:text="${dto.avg}">평점</span></p>
        <p>조회수 : <span th:text="${dto.reviewCnt}">조회수</span></p>
      </div>
    </div>
  </div>

  <!-- movie_image_wrap -->
  <p class="border-top"></p>
  <!-- 리뷰 리스트 -->
  <div class="container review_form my-5">
        <input type="hidden" name="mid" id="mid" value="1">
        <h4 class="h4 border-bottom pb-3" >😍 " [[${dto.title}]] " 리뷰를 남겨보세요.</h4>
        <div class="form-group mt-3">
          <label class="form-label">별점을 선택해주세요. 'click!!'</label>
          <div class='starrr'></div>
        </div>
        <div class="form-group mt-4">
          <label class="form-label">감상평을 남겨주세요.</label>
          <input type="text" class="form-control review_txt" aria-label="file example" name="title" placeholder="영화 리뷰를 작성해주세요." required>
        </div>
        <button type="button" id="reviewSave" class="btn btn-primary mt-3" style="width:100%">저장</button>
  </div>

  <div class="review_wrap">
    <div class="container">

    </div>
    <div class="bg-full">
      <div class="container review_wrap pt-5">
          <h4 class="h4 border-bottom pb-3">👀 "[[${dto.title}]] " 리뷰
            <span class="total">[[${dto.reviewCnt}]] 개</span>
          </h4>
          <div class="review_list"></div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function (e){
        // 슬라이드 =======================================================
        $('.movie_slider').slick();

        // 리뷰 =======================================================
        let grade = 0; //점수
        let mno = [[${dto.mno}]];// 영화번호
        let inputMid = $('input#mid');//고객번호
        let inputText = $('input.review_txt');//text

        // 별점 선택 기능
        $('.starrr').starrr({
            rating: grade,
            change: function(e, value){
                if (value){
                  grade = value;
                }
            }
        });

        // 리뷰 저장
        $("#reviewSave").on('click',function (){
            console.log(inputText.val())
            if (inputText.val() == null || inputText.val() == ""){
              alert("리뷰 내용을 작성해주세요.")

            }else{
              let data = {mno:mno, grade:grade,text:inputText.val(),mid:inputMid.val()}
              console.log(data);
               $.ajax({
                   url:'/reviews/'+mno,
                   type:'POST',
                   data: JSON.stringify(data),
                   contentType: 'application/json; charset=utf-8',
                   dataType:"text",
                   success:function (result){
                       console.log("result : "+result);
                       self.location.reload();// 재 로딩
                   }
               });
            }
        });


        // 페이지가 새로 로딩되었을때 리뷰 리스트 보여주기
        function getMovieReviews(){
            function formatTime(str){
                let data = new Date(str);
                return data.getFullYear() + '/' +
                    (data.getMonth() + 1) + '/' +
                    data.getDate() + ' ' +
                    //시간
                    data.getHours() + ':' +
                    data.getMinutes();
            }


            $.getJSON("/reviews/"+mno+"/all",function (arr){
               let str = '';
               $.each(arr,function (idx,review){
                  console.log(review);
                  str += '<div class="my-3 p-3 bg-body rounded shadow-sm" data-reveiwnum="' + review.reviewnum + '" data-mid="' + review.mid + '">';
                    str += '            <p class="nickname "> '+ review.nickname +'</p>';
                    str += '            <p class="txt mt-2"> '+ review.text +'</p>';
                    str += '            <div class="review_info mt-2">';
                      str += '                <p class="score" >'+ review.grade +'</p>';
                      str += '                <p class="date">' + formatTime(review.regDate)  +'</p>';
                    str +=    '         </div>';
                    str += '            <div class="review_btn mt-3 text-right">';
                    str += '             <button id="reviewModify" class="btn btn-dark btn-sm" type="button">수정</button>'
                    str += '             <button onClick="reviewDelete()" class="btn btn-secondary btn-sm" type="button">삭제</button>'
                    str +=    '         </div>';
                  str += '</div>'
               });

               $('.review_list').html(str);
            });
        }

        getMovieReviews();
    });
  </script>
</th:block>

</html>