<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layoutBasic}">

<th:block layout:fragment="content">
<div class="bg-full">
  <div class="container">
    <div class="my-5 p-3 bg-body rounded shadow-sm">
    <h4 class="h4 border-bottom pb-3">영화 등록</h4>
    <form th:action="@{/movie/register}" th:method="post" id="movieRegister" >
      <div class="form-group mt-3">
        <label class="form-label">제목</label>
        <input type="text" class="form-control" aria-label="file example" name="title" placeholder="영화 제목을 작성해주세요." required>
      </div>
      <div class="form-group mt-3">
        <label class="form-label" for="fileInput">이미지 올리기</label>
        <div class="custom-file">
          <input type="file" class="custom-file-input files form-control" id="fileInput" multiple >
          <label class="custom-file-lable mt-2" data-browse="Browse"></label>
        </div>
      </div>

      <div class="uploadResult mt-4 mb-4">
        <ul>

        </ul>
      </div>
      <!-- 디비 저장에 사용되는 input hidden 파일이 들어갈 레이아웃-->
      <div class="box"></div>
      <button type="submit" class="btn btn-primary" style="width:100%">저장</button>
    </form>
    <script type="text/javascript">
      $(document).ready(function (){

        // START 파일 업로드 ============================================
          var regex = new RegExp("(.*?)\.(exe|sh|zip|alz|tiff)$");
          var maxSize = 10489760; //10MB

          //올바른 파일인지 확인 하는 이벤트
          function checkExtension(fileName,fileSize){
              if (fileSize >= maxSize){
                  alert("파일 사이즈를 초과했습니다.");
                  return false;
              }
              if (regex.test(fileName)){
                  alert("해당 종류의 파일은 업로드 할 수 없습니다.");
                  return false;
              }
              return true;
          }

          $(".custom-file-input").on("change",function (){
             var fileName = $(this).val().split("\\").pop();
             $(this).siblings(".custom-file-lable").addClass("selected").html(fileName);

             var formData = new FormData();
             var inputFile = $(this);
             var files = inputFile[0].files;
             var appended = false;

             //업로드 파일이 있다면
             for (var i = 0; i < files.length; i++){
                 // 파일확장자, 사이즈 체크 - 일치 하지 않는다면 false 업로드 X
                 if (!checkExtension(files[i].name, files[i].size)){
                     return false;
                 }
                 console.log(files[i]);
                 // 일치 한다면 업로드
                 formData.append("uploadFiles", files[i]);
                 appended = true;
             }
             //파일 업로드 X
             if (!appended){return files}
             for (var value of formData.values()){
                 console.log(value);
             }

             /// 실제 업로드
              $.ajax({
                 url : '/uploadAjax',
                 processData: false,
                 contentType: false,
                 data : formData,
                 type : 'POST',
                 dataType : 'json',
                 success: function (result){
                     console.log(result);
                     showImages(result);
                 },
                  error:function (jqXHR,textStatus,errorThrown){
                      console.log(textStatus);
                  }
              });

          });

          //파일 업로드 결과

          function showImages(arr){
              console.log(arr);
              var uploadUL = $('.uploadResult ul');
              var str = "";
              $(arr).each(function (i,obj){
                  str += "<li data-name='" + obj.fileName + "' data-path='" + obj.folderPath + "' data-uuid='" + obj.uuid + "' >";
                  str += "<div>"
                  str += "<button type='button' data-file='"+ obj.imageURL + "' class='btn-warning btn-sm'><i class=\"bi bi-dash-circle-fill\"></i></button>"
                  str += "<img src='/display?fileName=" + obj.thumbnailURL +"'>";
                  str += "</div>"
                  str += "</li>";
              });

              uploadUL.append(str);
          }

          //업로드 한 이미지 삭제
          $('.uploadResult').on('click','li button', function (){
              console.log("delete file");
              let targetFile = $(this).data("file"); // 선택한 data file
              let targetLi = $(this).closest('li'); // 선택한 li
              $.ajax({
                 url: '/removeFile',
                 data:{fileName:targetFile},
                 dataType: 'text',
                  type: 'POST',
                  success:function (result){
                     alert(result);
                     targetLi.remove();
                  }
              });

          });

          // END 파일 업로드 ============================================


          // 영화 정보 저장
          $('.btn-primary').on('click',function (e){
              e.preventDefault(); // 기존 이벤트 막기

              let str = "";
              $('.uploadResult li').each(function (i,obj){
                  let target = $(obj);

                  str += "<input type='hidden' name='imageDTOList[" + i + "].imgName' value='"+ target.data('name') +"'>";
                  str += "<input type='hidden' name='imageDTOList[" + i + "].path' value='"+ target.data('path') +"'>";
                  str += "<input type='hidden' name='imageDTOList[" + i + "].uuid' value='"+ target.data('uuid') +"'>";

              });

              $('.box').html(str);// 정보 저장용 태그
              $('#movieRegister').submit();
          });

      });
    </script>
    </div>
  </div>
</div>
</th:block>

</html>