.uploadResult {width: 100%;background: #ccc;margin-top:10px;}
.uploadResult ul {display: flex; flex-flow: row;justify-content: center;vertical-align: top;overflow: auto}
.uploadResult ul li {padding:10px;margin-left: 2em;}
.uploadResult ul li img {width:100px;}