@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {font-family: 'Chosunilbo_myungjo' !important;}
a {text-decoration: none;}
a {color:#000;}
a:hover {color:#000;}
    /* header / footer */
header .logo {width:30px;height:auto;margin-right:10px;}
footer {background: #000;}
footer * {color:#fff;}
footer .float-end a {text-decoration: none;color: #fff;}
footer .float-end a .bi-eject-fill {font-size:20px; color: #fff;}


.btn.btn-primary {background: #fa4f5f;border: #ccc 1px solid;}
.bg-full {background:#eee;overflow: hidden;min-height:calc(100vh - 68px - 56px);}
.h4 {font-weight: bold;}
.title {font-weight: bold;font-size:28px}
    /* 영화 등록 */
.uploadResult {width: 100%;}
.uploadResult ul {display: flex; flex-flow: row;justify-content:left;vertical-align: top;overflow: auto}
.uploadResult ul li {position: relative;}
.uploadResult ul li + li {margin-left: 2em;}
.uploadResult ul li div {max-height: 200px;border:1px solid #ced4da;overflow:hidden;border-radius:5px;}
.uploadResult ul li div img {width:200px;}
.uploadResult ul li button {position: absolute;top: 5px;right: 5px;z-index: 1;border:0;padding:0;margin:0;background:none;}
.uploadResult ul li button .bi-dash-circle-fill {font-size: 24px;color: #ff6500;}


/*페이지 리스트*/
.card-list .card-img-top {width:100%;height: 225px;background:#ccc;overflow: hidden}
.card-list .card img {width:100%}
.card-list .card * {animation:5s all cubic-bezier(0.4, 0, 1, 1);}
.card-list .card .card-text {font-weight:bold;font-size:18px;}
.card-list .card:hover img {transform: scale(1.5);}
.card-list .card:hover .card-text {color:#fa4f5f;}


/*페이징*/
.page-item .page-link {color:#000;}
.page-item.active .page-link {background:#fa4f5f;border-color:#fa4f5f;color:#fff;}


/*상세페이지*/
.line-move {display:block;height:40px;background:#000;background-image:url("/image/line_move_1.png");background-right:  repeat-x;background-size: auto 40px;animation:lineMove  14s linear infinite;}
.movie_slider {position:relative}
.movie_slider li {overflow: hidden}
.movie_slider .slick-slide {height:calc(100vh - 150px)}
.movie_slider .slick-slide img {width:100%;min-height:100%}
.movie_slider .slick-arrow {position: absolute;top:50%;z-index: 1;}
.movie_slider .slick-prev {left:0;}
.movie_slider .slick-next {right:0;}



@keyframes lineMove{
    0%{
        background-position: 0;
    }
    100%{
        background-position: 100%;
    }
}